page {
  min-height: 100vh;
  font-size: $u-font-base;
  color: $u-main-color;
  background-color: $u-bg-color;
}

uni-page-body {
  min-height: auto !important;
}

uni-image {
  display: block !important;
}

image {
  display: block;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: $u-primary;
  border-radius: 100rpx;
}

.u-button::after {
  border: 0;
  border-radius: 100rpx;
}

.u-button--default::after {
  border: 1px solid rgb(0 0 0 / 20%);
}
