@import 'uview-plus/theme.scss';

/* 颜色变量 */
$u-primary: #007E41;
$u-primary-dark: #76a3fd;
$u-success: #3ed268;
$u-warning: #fe9831;
$u-error: #fa4e62;

/* 文字基本颜色 */
$u-main-color: #353535;
$u-content-color: #60687e;
$u-tips-color: #7e869a;
$u-light-color: #bdc3d2;
$u-disabled-color: #dce0eb;

/* 背景颜色 */
$u-bg-color: #f5f5f5;
$u-panel-color: #242831;

/* 尺寸变量 */

/* 文字尺寸 */
$u-font-sm: 22rpx;
$u-font-base: 26rpx;
$u-font-lg: 30rpx;

/* 图片尺寸 */
$u-img-sm: 40rpx;
$u-img-base: 52rpx;
$u-img-lg: 80rpx;

/* Border Radius */
$u-border-radius-sm: 4rpx;
$u-border-radius-base: 6rpx;
$u-border-radius-lg: 12rpx;
$u-border-radius-btn: 50rpx;
$u-border-radius-circle: 50%;

/* 按钮样式 */
$u-button-height: 80rpx;
$u-button-font-size: 32rpx;
$u-button-border-radius: 40rpx;
$u-button-text-color: #fff;
$u-button-bg-color: #007E41;

/* 水平间距 */
$u-spacing-row-sm: 10rpx;
$u-spacing-row-base: 20rpx;
$u-spacing-row-lg: 30rpx;

/* 垂直间距 */
$u-spacing-col-sm: 8rpx;
$u-spacing-col-base: 16rpx;
$u-spacing-col-lg: 24px;

/* 透明度 */
$u-opacity-disabled: 0.3;
